{{define "content"}}
  
  <!-- Form -->
  <form method="post" onsubmit='return confirm("Are you sure?")'>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="query" name="q" value="{{.Q}}" required>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="ref" name="ref" value="{{.Ref}}" required>
      </div>
      <div class="col col-sm-4">
        <button type="submit" class="btn btn-primary mb-2">Deploy</button>
      </div>
    </div>
  </form>
  
  <!-- Tabs -->
  <br />
  <ul class="nav nav-pills">
    {{ range .Results }}
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#{{.Name}}">
          <span>{{.Name}}</span>
          {{if .Error}}
           <span> - ERROR</span>
          {{end}}
        </a>
      </li>
    {{ end }}
  </ul>

  <!-- Content -->
  <div class="tab-content">
    {{ range .Results }}
      <div id="{{.Name}}" class="tab-pane fade in">
        {{if .Output}}
          <p>
            <h5>Output</h5>
            <hr />
            {{.Output}}
          </p>
        {{end}}

        {{if .Error}}
          <p>
            <h5>Error</h5>
            <hr />
            {{.Error}}
          </p>
        {{end}}
      </div>
    {{ end }}
  </div>


  <script>
    $('.nav-pills li:first-child a').tab('show') // Select first tab
  </script>

{{end}}